/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 13, 2017, 2:50:50 PM
    Author     : Hein Htet
*/
@font-face {
    font-family: 'Bellota-LightItalic';
    src: url('../fonts/Bellota-LightItalic.otf');
}

@font-face {
    font-family: 'Bellota-BoldItalic';
    src: url('../fonts/Bellota-BoldItalic.otf');
}

form{
    text-align: center;
}

html,body {
    height: 100%;
    min-height: 100%;
}

body{
    background-image: url("../images/background/background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.wrapper {
   /* ?? */
}

a {
    text-decoration: none;
    color: #3498db;
}

.login_box {
    font-family: 'Bellota-LightItalic', sans-serif;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    top: 7%;
    width: 35%;
    background-color: white;
    border: 1px solid #EDEDED;
    border-radius: 4px;
    padding: 5px;
    opacity: 0.98;
    box-shadow: 3px 3px 1px gray;
}

.login_header {
    font-family: 'Bellota-LightItalic', sans-serif;
    width: 100%;
    height: 90px;
    background-color: #3498db;
    color: white;
    text-align: center;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.login_header h1 {
    font-family: 'Bellota-BoldItalic', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    color: #2C6C96;
    text-shadow: #73B6E2 0.5px 0.5px 0px;
}

input[type="submit"] {
    background-color: #3498db;
    border: 1px solid #3498db;
    border-radius: 3px;
    margin: 5px 0 10px 0;
    padding: 5px 10px 5px 10px;
    color: white;
    text-shadow: #73B6E2 0.5px 0.5px 0px;
    font-family: 'Bellota-BoldItalic', sans-serif;
    font-size: 100%;
}

input[type="text"], input[type="email"], input[type="password"] {
    border: 1px solid #e5e5e5;
    margin-top: 5px;
    width: 70%;
    height: 35px;
    margin-bottom: 10px;
    padding-left: 5px;
}

input[type="text"]:hover, input[type="email"]:hover, input[type="password"]:hover {
    border-color: #3498db;
}

#second {
    display: none;
}